/* Type selectors */
h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 42px;
}

p {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* Classes */

.recipes {
  background-color: rgb(155, 214, 149);
  border: 4px solid rgb(250, 250, 166);
  text-align: center;
  height: 50px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  margin: auto;
}

.centre {
  margin: auto;
  width: 50%;
  border-radius: 40px;
}

.centre2 {
  margin: auto;
  width: 65%;
  border-radius: 40px;
}

.ingredients {
  align-content: center;
}

.images {
  height: 400px;
  width: auto;
  border-radius: 20px;
}

.button {
  background-color: rgb(180, 180, 180);
  border-radius: 10px;
}

.button a {
  color: black;
  font-weight: 800;
}

/* experimental*/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
