* {
  background-color: rgb(224, 224, 151);
}

/* Type selectors */
h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 42px;
}

a:hover {
  border-bottom: 1px solid black;
}

p {
  text-align: center;
}

/* Classes */

.recipes {
  background-color: rgb(249, 192, 238);
  text-align: center;
  height: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ingredients {
  align-content: center;
}

.images {
  height: 300px;
  width: auto;
}

.button {
  background-color: rgb(108, 229, 132);
  border-radius: 5px;
}
